.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    position: relative;
    padding: 0 20px;
    width: 100%;
  }
  
  .header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header span {
    font-size: xx-small;
  }
.title-link{
    text-decoration: none;
    color: black;
}

.login{
    margin-right: 5%;
}

.login button{
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(253, 219, 178);
    background-color: rgb(253, 219, 178);
    cursor: pointer;
    margin-left: 10px;
}

.login button:hover{
    padding: 10px 15px;
}


  

  