.marketdetail-main{
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
}

.marketdetail-container{
    
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    
}

.marketdetail-container p{
    margin-bottom: 10px;
}

.marketdetail-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    text-align: center;
}

.marketdetail-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.marketdetail-btn{
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background-color: bisque;
    cursor: pointer;
}