.board-detail-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: bisque;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}   

.board-detail-title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.board-detail-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: small;
  margin: 0 40px;
}       

.board-detail-content {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}