.login-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 700px;
  animation: fadeIn 0.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 500px;
  padding: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  margin-left: 5px;
}

.login-input {
  width: 80% !important;
  padding: 12px !important;
  margin-bottom: 40px !important;
  border: 2px solid #ccc !important;
  border-radius: 20px !important;
  font-size: 16px !important;
  box-sizing: border-box !important;
  transition: border-color 0.3s ease !important;
  font-family: 'NEXON Lv1 Gothic OTF' !important;
  margin-right: 0 !important;
}

.login-input:focus{
  border-color: #ff9861 !important; 
  outline: none;
}

.login-button{
  font-size: 16px;
  width: 50%;
  background-color: #FFA575;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color:white;
  margin-right: 0;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #ff9d68;
}

.finds-button{
  font-size: 16px;
  margin-top: 40px;
  color: #5e5e5e;
  text-decoration: underline;

}

.registers-button{
  font-size: 16px;
  background-color: #EEEEEE;
  padding: 10px 20px;
  border-radius: 20px;
  border : none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  margin-right: 0;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: bold;
}

.finds-button:hover{
  cursor: pointer;
}

.registers-button:hover {
  cursor: pointer;
  background-color: #d2d2d2;
}

.log-but-con{
  width:100%;
  display: flex;
  gap:20px;
}